<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>COVID-19 Infection Detector</title>
    <style type="text/css">
      .context-dark, .bg-gray-dark, .bg-primary {
          color: rgba(255, 255, 255, 0.8);
      }

      .footer-classic a, .footer-classic a:focus, .footer-classic a:active {
          color: #ffffff;
      }
      .nav-list li {
          padding-top: 5px;
          padding-bottom: 5px;
      }

      .nav-list li a:hover:before {
          margin-left: 0;
          opacity: 1;
          visibility: visible;
      }

      ul, ol {
          list-style: none;
          padding: 0;
          margin: 0;
      }

      .social-inner {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          padding: 23px;
          font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.5);
      }
      .social-container .col {
          border: 1px solid rgba(255, 255, 255, 0.1);
      }
      .nav-list li a:before {
          content: "\f14f";
          font: 400 21px/1 "Material Design Icons";
          color: #4d6de6;
          display: inline-block;
          vertical-align: baseline;
          margin-left: -28px;
          margin-right: 7px;
          opacity: 0;
          visibility: hidden;
          transition: .22s ease;
      }
    </style>
  </head>
  <body style="background-image: url(/static/2.jpg) ;background-size: cover;background-repeat: no-repeat; color: black;">
    <main class="main">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">COVID-19 Detector</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/corona">About Corona Virus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">About Me</a>
          </li> 
      </div>
    </nav> 
    <!-- <div class="container-fluid" style="background-image: url(); color: white;"> -->
      <img src="/static/header.png" class="img-responsive" style="width: 100%; height: 140px"> 
    <!-- </div> -->
    {% if Prob is defined and (Prob < 1)  %}
    <!-- /*<img src="/static/h2.jpg" style="width: 100px">*/ -->
    <div class="alert alert-success alert-dismissible fade show" role="alert"> 
      <center><h3 class="mt-3">Coronavirus Infection Probabilty Detector</h3></center> 
    </div> 
    <!-- <img src="/static/h1.jpg" style="width: 100px"> -->
    {% endif %}
    
    <div class="container" > 

      {% if message %} 
          <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
            <strong>Error: </strong>{{ message }}!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
      {% endif %}
      {% if Prob is defined and (Prob > 1) %}
      <div class="result text-center" style="color: white;"> 
        {% if Prob < 50 %}
          <div class="alert alert-success alert-dismissible fade show" role="alert"> 
            <strong>Result: </strong>Patient Probabilty of infection is! {{ Prob }}!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% elif Prob < 75 %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Result: </strong>Patient Probabilty of infection is! {{ Prob }}!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% else %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Result: </strong>Patient Probabilty of infection is! {{ Prob }}!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endif %} 
      </div> 
      {% endif %}   

      <form action="/" method="post" class="mb-4">
        <div class="form-group">
          <label for="fevel">Enter Patient Fever Value</label>
          <input type="number" class="form-control" name="fever" id="fever" placeholder="Please Enter Patient Fever Value" min="98" max="104" value="{{ request.form['fever'] }}" required="required">
        </div>
        <div class="form-group">
          <label for="fevel">Enter Patient Age</label>
          <input type="number" class="form-control" name="age" id="age" placeholder="Please Enter Patient Age" min="0" max="100" value="{{ request.form['age'] }}" required="required">
        </div>
        <div class="form-group">
          <label for="bodyPain">Body Pain</label>
          <select class="form-control" id="bodyPain" name="bodyPain">
            <option {% if request.form['bodyPain'] == '1' %} selected {% endif %} value="1">Yes</option>
            <option value="0" {% if request.form['bodyPain'] == '0' %} selected {% endif %}>No</option> 
          </select>
        </div>
        <div class="form-group">
          <label for="bodyPain">Runny Nose {{ request.form['runnyNose'] }}</label>
          <select class="form-control" id="runnyNose" name="runnyNose">
            <option value="1" {% if request.form['runnyNose'] == '1' %} selected="selected" {% endif %}>Yes</option>
            <option value="0" {% if request.form['runnyNose'] == '0' %} selected {% endif %}>No</option> 
          </select>
        </div>
         <div class="form-group">
          <label for="bodyPain">Breathing Difficulty</label>
          <select class="form-control" id="diffBreath" name="diffBreath">
            <option value="-1" {% if request.form['diffBreath'] == '-1' %} selected="selected" {% endif %} >No Difficulty</option>
            <option value="0" {% if request.form['diffBreath'] == '0' %} selected="selected" {% endif %}>Little Difficulty</option> 
            <option value="1" {% if request.form['diffBreath'] == '1' %} selected="selected" {% endif %}>Severe Difficulty</option> 
          </select>
        </div> 
        <button class="btn btn-success" >Submit</button> | <a href="/" class="btn btn-danger" >Reset</a>
      </form> 
    </div>

         <!-- The Modal -->
        <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title" style="color: black;">About Me</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
             <div class="card-deck">
                <div class="card">
                  <img class="card-img-top" src="/static/IMG_20180826_153836.jpg" alt="Card image cap" style="width: 350px">
                </div>
                
                <div class="card">
                  <div class="card-body" style="color: black;">
                    <h5 class="card-title">Dheerendra Yadav(PHP & PYTHON Developer)</h5>
                    <p class="card-text">This is a Corona Virus Plobability Detector Web Application, using by machine learning in Python by Dheerendra Yadav.</p>
                    <p>This is web application is based on dummy data. I'm a developer not a health speacilist so i have generate dummy data and create this web application based on dummy data .</p>
                    <p> Thanks for using Corona Virus Plobability Detector!</p>

                    <strong>Stay Connected: </strong>
                    <p><b>Email: </b>ddpwpareshan@gmail.com</p>
                    <p><b>WhatsApp: </b>8932854447</p>
                  </div>

                  <div class="card-footer">
                    <small class="text-muted">Last updated <b id="current_date"> {{ today_date }} </b> </small>
                  </div>
                </div>
              </div> 
            </div> 
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <footer class="section footer-classic context-dark bg-image" style="background: #2d3246;padding-top: 40px">
    <div class="container">
      <div class="row row-30">
        <div class="col-md-4 col-xl-5">
          <div class="pr-xl-4"><a class="brand" href="/"><img class="brand-logo-light" src="/static/banner.jpg" alt="" width="400" height="150" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
            <p>I am a student working as PHP & PYTHON Developer.I dedicated to the best result in web design, web development.</p>
            <!-- Rights-->
            <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Dheerendra</span><span>. </span><span>All Rights Reserved.</span></p>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Contacts</h5>
          <dl class="contact-list">
            <dt>Address:</dt>
            <dd>A-97 Sector 4, Noida 63, UTTAR PRADESH, India</dd>
          </dl>
          <dl class="contact-list">
            <dt>email:</dt>
            <dd><a href="mailto:#">ddpwpareshan@gmail.com</a></dd>
          </dl>
          <dl class="contact-list">
            <dt>phones:</dt>
            <dd><a href="tel:8932854447">8932854447</a> <span>or</span> <a href="https://younggeeks.in/">https://younggeeks.in/</a>
            </dd>
          </dl>
        </div>
        <div class="col-md-4 col-xl-3">
          <h5>Links</h5>
          <ul class="nav-list">
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">About Me</a></li>
            <!-- <li><a href="#">Projects</a></li>
            <li><a href="#">Blog</a></li> -->
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">Contacts</a></li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="row no-gutters social-container">
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
      <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
    </div>
  </footer>
    <script type="text/javascript">
      var d = new Date();
      var strDate = d.getDate() + "/" + (d.getMonth()+1) + "/" + d.getFullYear();
      $('#current_date').html(strDate);
    </script>
    </main>
  </body>
</html>